.card__container
{
    margin-top: 1rem;
    background-color: rgba(54, 65, 106, 0.15) !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    min-height: 25vh;
    width: 65vw;
}
.book__card
{
    display: flex;
}
.book__img
{
    height: 18vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book__img > img
{
    height: 15vh;
    border-radius: 10%;
}
.book__card__content
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 78%;
    height: 25vh;
}
.book__card__content > span
{
    color: #36416a;;
    font-size: 1.4rem;
    font-weight: 700;
}
.book__card__description
{
    overflow: hidden;
}
.book__card__footer
{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.book__card__genre
{
    font-size: 1.1rem;
    font-weight: 600;
    width: 20vw;
}
.book__card__genre > span
{
    border-radius: 5px;
    margin-right: 1rem;
    background-color: #c0ceff;
}
.book__card__comment
{
    font-size: 1.3rem;
    font-weight: 700;
}
.book__card__comment:hover
{
    cursor: pointer;
}
.book__card__edit__button
{
    font-size: 1.2rem;
    align-items: center;
    font-weight: 510;
    background-color: #36416a;
    color: white;
    border: none;
    border-radius: 5px;
}

.card__right__section
{
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card__upvotes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 12vh;
    background-color: #c7cbd6;
    width: 2vw;
}
.card__upvotes>span
{
    font-size: 1.5rem;
    font-weight: 700;
}
.card__upvotes > span:hover
{
    cursor: pointer;
}

.card__comment__count
{
    font-size: 1.4rem;  
}
.footer__comment__container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 30vh;
    height: auto;
}


